<footer style="margin-top: 4%; margin-bottom: 0px;" class="footer">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.google.com/">

                    </a>
                </li>
                <li>
                    <a href="https://www.google.com/presentation">

                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            <span id="anoFooter"></span>
            &copy;
            <script>
                //document.write(new Date().getFullYear())
                document.getElementById('anoFooter').innerHTML = new Date().getFullYear()
            </script>,
            <a style="color: #fff;" href="/quemSomos">lab41</a>
        </div>
    </div>
</footer>