<li>
    <br>
    <div class="card-profile">
        <!--<div class="card-avatar">
            <img class="img" src="../images/logoMezzomo2_white.png" />
        </div> -->
        <img class="img nav-img" src="../images/logo-black-fixed-yellow.svg" />
        <h3 class="title-nav">Notas Fiscais Empresa</h3>
        <br>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="/empresa/notasfiscais">
        <i class="material-icons">description</i>
        <p>Notas Fiscais Empresa</p>
    </a>
</li>



<!-- <li class="nav-item">
    <a class="nav-link" href="/notas/guias">
        <i class="material-icons">receipt</i>
        <p>Emitir Guias</p>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/notas/enviar-notas">
        <i class="material-icons">cloud_upload</i>
        <p>Enviar Notas</p>
    </a>
</li> -->

<!--
<li class="nav-item ">
    <a class="nav-link" href="../sair">
        <i class="material-icons">exit_to_app</i>
        <p>Sair</p>
    </a>
</li>
-->