<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../images/icon/apple-icon-mezzomo.png">
    <link rel="icon" type="image/png" href="../images/icon/favicon_mezzomo3.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Consumo</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <!--NOSSO CSS -->
    <link rel="stylesheet" type="text/css" href="../local/stylenotasmezzomo.css">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../assets/css/material-dashboard.min.css?v=2.1.2" rel="stylesheet" />

    <!--local CSS -->
    <link rel="stylesheet" type="text/css" href="../local/stylenotasmezzomo.css">
    <link rel="stylesheet" href="../local/graficos.css">
    <script src="../assets/js/core/jquery-3.5.1.js"></script>

</head>

<body class="">
    <div class="wrapper ">
        <!-- Navbar -->
        <div class="sidebar" data-color="yellow" data-background-color="black" data-image="../assets/img/contabeisbw.jpg">
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <!--CARD NO SIDE BAR - LOGO DO USÚARIO E NOME -->
                    {{> escritorio/navbar_gerenciar}}
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                            </button>
                        </div>
                        <a class="navbar-brand" href="/gerenciar/consumo">Consumo</a>
                    </div>
                    {{> escritorio/menu_apps_back}} {{> escritorio/help_btn}}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                </div>
            </nav>

            <!-- Plugin for the momentJs  -->
            <script src="../assets/js/plugins/moment.min.js"></script>
            <!-- Plugin for the momentJs TRADUÇÕES LOCAIS  -->
            <script src="../assets/js/plugins/moment-with-locales.js"></script>

            <div class="sticky-top navbar-absolute">
                {{> escritorio/testegratis}}
            </div>

            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!--CARD 1 BUSCAR-->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-yellow">
                                    <h4 class="card-title">Consumo</h4>
                                    <p class="card-category">Dados do processamento das notas</p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card card-chart ">
                                                <div class="card-header card-header-success">
                                                    <div class="planocard" id="planocard">
                                                        <h4>Seu Plano</h4>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title" id="plano_escritorio"></h4>
                                                    <a class="card-category" id="plano_escritorio_detalhes" style="cursor: pointer; font-weight: 600;">Clique aqui
                                                        para atualizar seu plano</a>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card card-chart">
                                                <div class="card-header card-header-success">
                                                    <div class="consumototal" id="consumototal">
                                                        <h4>Consumo Total</h4>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title" id="consumo_total"></h4>
                                                    <p class="card-category" style="text-shadow: none;"> Numero de notas processadas Total</p>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card card-chart">
                                                <div class="card-header card-header-success">
                                                    <div class="consumomensal" id="consumomensal">
                                                        <h4>Consumo Mensal</h4>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title" id="consumo_mensal"></h4>
                                                    <p class="card-category" style="text-shadow: none;">Numero de notas processadas nesse Mês</p>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="toolbar">
                                                <button id="one_month" class="active btn">
                                                    Mês Atual
                                                </button>
                                                <button id="all" class="btn">
                                                    Geral
                                                </button>
                                            </div>
                                            <div id="chart">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> escritorio/footer_internal}}
        </div>
    </div>
    <!--Correção do Violation Scroll non-passive event-->
	<script src=" ../local/plugins/fix-non-passive.js"></script>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap-material-design.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Plugin for Sweet Alert 
    <script src="../assets/js/plugins/sweetalert2.js"></script> -->
    <script src="../local/plugins/sweetalert/js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="../local/plugins/sweetalert/css/sweetalert2.min.css" id="theme-styles">
    <!-- Forms Validations Plugin -->
    <script src="../assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="../assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="../assets/js/plugins/arrive.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-dashboard.min.js?v=2.1.2" type="text/javascript"></script>

    <script src="../local/plugins/apexchart/apexchart.js"></script>
    <script src="../local/plugins/mascara/abreviaNumero.js"></script>
    {{> escritorio/modal_adquirir}} {{> escritorio/modal_chamados}}

    <!--NOSSO-->

    <script>
        $(document).on('click', '#plano_escritorio_detalhes', function(e) {
            e.preventDefault;
            $('#modal_adquirir').modal('show');
        });

        function modal_hide_InserirUsuarios() {
            $('#modalPlanos').modal('hide')
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            //ACTIVE NAV-ITEM
            var navs = document.getElementsByClassName('nav-item');
            for (var x = 0; x < navs.length; x++) {
                if (navs[x].childNodes[1].attributes[1].nodeValue == location.pathname) {
                    var nav = navs[x]
                    $(nav).addClass('active')
                }
            }
        });
    </script>

    <script>
        function LoadConsumoTotal() {
            //console.log("entrou em load consumo total com o escritorio ===>", nomeEscritorio)

            $.ajax({
                url: '/gerenciar/get-count-consumototal',
                type: 'GET',
                success: function(response) {
                    if (response) {
                        //console.log("dados ===========>", response)

                        if (response.consumo_total) {
                            abreviaNumero(response.consumo_total).then(async(result) => $('#consumo_total').text(result))
                        } else {
                            $('#consumo_total').text('0')
                        }

                        if (response.consumo_mensal) {
                            abreviaNumero(response.consumo_mensal).then(async(result) => $('#consumo_mensal').text(result))
                                //Atualiza os dados do plano
                        } else {
                            $('#consumo_mensal').text('0')
                        }

                        if (response.plano) {
                            $('#plano_escritorio').text(response.plano)
                        } else {
                            $('#plano_escritorio').text('GOLD')
                        }


                    } else {
                        //não existe response 

                    }

                }
            })
        }
    </script>

    <script>
        var chartData;

        $.ajax({
            url: "/gerenciar/get-consumo-notas",
            type: 'GET',
            success: function(response) {

                if (response) {


                    LoadConsumoTotal()
                    
                    chartData = response.x

                    var sum_notas = chartData.map(a => a.sum_notas);
                    var inserido = chartData.map(b => b.inserido);
                    var mes_atual = chartData.map(c => c.mes_atual)

                    //se o ultimo dado não estiver dentro do mes atual ele pega o dado dos ultimos 29 dias até a data atual
                    if (inserido[inserido.length - 1] < mes_atual[0]) {
                        mes_atual[0] = inserido[inserido.length - 29]
                    }


                    var array = []
                    for (i = 0; i < sum_notas.length; i++) {
                        array[i] = {
                            "x": inserido[i],
                            "y": sum_notas[i]
                        }
                    }

                    var options = {
                        chart: {
                            id: 'area-datetime',
                            type: 'area',
                            height: 350,
                            width: '100%',
                            zoom: {
                                enabled: true
                            },                            
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight'
                        },
                        series:[{
                            data: array
                        }],
                        xaxis: {
                            type: 'datetime',
                        },
                        colors: ['#edcd00'],
                        
                    };

                    var chart = new ApexCharts(document.querySelector("#chart"), options);
                    chart.render();

                    var resetCssClasses = function(activeEl) {
                        var els = document.querySelectorAll('button')
                        Array.prototype.forEach.call(els, function(el) {
                            el.classList.remove('active')
                        })

                        activeEl.target.classList.add('active')
                    }

                    document
                        .querySelector('#one_month')
                        .addEventListener('click', function(e) {
                            resetCssClasses(e)

                            chart.zoomX(mes_atual[0], inserido[inserido.length - 1]

                            )
                        })

                    document.querySelector('#all').addEventListener('click', function(e) {
                        resetCssClasses(e)

                        chart.zoomX(inserido[0], inserido[inserido.length - 1])
                    })
                }

            }
        });
    </script>

</body>
</html>