<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recuperar Senha</title>
		<style type="text/css">
			@media screen and (max-width: 600px) {
				}
				@media screen and (max-width: 400px) {
				}
		</style>
	</head>
	<body style="Margin:0;padding:0;background-color:#f6f9fc;">
		<center class="wrapper" style="width:100%;table-layout:fixed;background:linear-gradient(360deg, #000, #edcd00);padding-bottom:40px;padding-top:40px;">
			<div class="webkit" style="max-width:600px;background-color:#FFFFFF;border-radius:5px;">
				<table class="outer" align="center" style="Margin:0 auto;width:100%;max-width:600px;border-spacing:0;font-family:sans-serif;color:#4a4a4a;">
					<tr>
						<td style="padding:0;">
							<table width="100%" style="border-spacing:0;border-spacing: 0; margin-top: -35px;">
								<tr>
									<td class="header" style="padding:0;background:linear-gradient(60deg, #000000, #272727);padding:10px;text-align:center;border-radius:3px;display:flex;justify-content:center;margin:0 15px;">
									  <img src="https://res.cloudinary.com/lab41dev/image/upload/v1614975709/mez_app/mez_x9bqgf.png" style="border:0;width: 5%; max-width: 100%; padding: 1rem;">
										<h2 style="color: #fff; width: 95%;">Recuperar Senha</h2>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding:0;">
							<table width="100%" style="border-spacing:0;border-spacing: 0;">
								<tr>
									<td class="two-columns" style="padding:0;text-align:center;align-items:center;font-size:0;padding-top:40px;padding-bottom:30px;">
										<table class="column" style="border-spacing:0;width:100%;max-width:300px;display:inline-block;vertical-align:top;">
											<tr>
												<td class="padding" style="padding:0;padding:15px;">
													<table class="content" style="border-spacing:0;font-size:1.5rem;">
														<tr>
															<td style="padding:0;">
																<h2>Olá, clique <a href="{{ linkar }}" style="text-decoration: none; color: #caaf00;">aqui</a> para alterar sua senha.</h2>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<table class="column" style="border-spacing:0;width:100%;max-width:300px;display:inline-block;vertical-align:top;">
											<tr>
												<td class="padding" style="padding:0;padding:15px;">
													<table class="content" style="border-spacing:0;font-size:1.5rem;">
														<tr>
															<td style="padding:0;">
																<img src="https://res.cloudinary.com/lab41dev/image/upload/v1614017349/mez_app/RecuperarSenha_zozoey.png" style="border:0;width: 100%; max-width: 100%;">
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding:0;">
							<table width="100%" style="border-spacing:0;border-spacing: 0;">
								<tr>
									<td style="padding:0;text-align: center;">
										<h4 style="color: #000;">ATENÇÃO! Não clique nesse link caso você não tenha solicitado alteração de senha!</h4>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</center>
	</body>
</html>
