<!DOCTYPE html>
<html lang="pt-br">
<!--HEADER-->

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../images/icon/apple-icon-mezzomo.png">
    <link rel="icon" type="image/png" href="../images/icon/favicon_mezzomo3.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Robotax: Confirmação de Cadastro
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!--Custom CSS styles-->
    <link rel="stylesheet" type="text/css" href="../local/stylecadastromezzomo.css">
    <!--SWEET ALERT-->
    <link rel="stylesheet" href="../local/plugins/sweetalert/css/sweetalert2.min.css" id="theme-styles">
    <script src="../assets/js/core/jquery-3.5.1.js"></script>
</head>
<!--HEADER_X-->

<body class="off-canvas-sidebar">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
        <div class="container">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="/acesso"><img style="width: 40px;" src="../images/mez-white.svg"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item  active ">
                        <a href="/acesso" class="nav-link">
                            <i class="material-icons">fingerprint</i> Acesso
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper wrapper-full-page">
        <div class="page-header login-page cadastro-page header-filter" filter-color="yellow">
            <!-- style="background-image: url('../../assets/img/register.jpg'); background-size: cover; background-position: top center;"> -->
            <div class="container">

                <div class="row">
                    {{#ifCond response.status "==" true}}
                        {{#if email}}
                            <div class="col-lg-8 col-md-10 col-sm-12 ml-auto mr-auto">
                                <div class="card card-login card-cadastro card-hidden">
                                    <div class="card-header card-header-black text-center">
                                        <h2 class="card-title text-center">Confirmar Cadastro</h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5 ml-auto">
                                                <div class="info info-horizontal">
                                                    <div class="icon icon-black">
                                                        <i class="material-icons">info</i>
                                                    </div>
                                                    <div class="description">
                                                        <h4 class="info-title">Instruções</h4>
                                                        <p>
                                                            Para ter o cadastro validado, insira seus dados e confirme seu
                                                            cadastro com o <b style="font-weight: 600; color: #edcd00;">token do
                                                                escritorio</b> que deve ser fornecido pelo seu gestor.
                                                        </p>
                                                        <h6>Dúvidas?<a class="text-dark"
                                                                href="mailto:suporte@gmail.com?subject=Suporte Mezzomo&body=Bem-vindo ao suporte! %0AInforme os seguintes dados...%0A%0ANome Completo:%0ANúmero para contato:%0A%0A%0ADescreva seu problema aqui:%0ASugestões:%0AElogios:%0A%0A%0A%0A">&nbsp
                                                                Entre em contato</a></h6>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 mr-auto">
                                                <!--<div class="social text-center">
                                                    <button class="btn btn-just-icon btn-round btn-github">
                                                        <i class="fa fa-google"></i>
                                                    </button>
                                                    <button class="btn btn-just-icon btn-round btn-github">
                                                        <i class="fa fa-facebook"> </i>
                                                    </button>
                                                    <h4 class="mt-3"> ...ou faça o cadastro manual. </h4>
                                                </div>-->
                                                <form id="formulario_cadastro" class="form" method="post"
                                                    action="/cadastro-usuario/confirmar-cadastro-usuario">
                                                    <!--NOME-->
                                                    <div class="form-group has-default">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="material-icons">face</i>
                                                                </span>
                                                            </div>
                                                            <input name="input_usuario" type="text" class="form-control"
                                                                placeholder="Nome de usuário..." required>
                                                        </div>
                                                    </div>
                                                    <!--SENHA-->
                                                    <div class="form-group has-default">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="material-icons">lock_outline</i>
                                                                </span>
                                                            </div>
                                                            <input id="newpass" name="input_pass" type="password"
                                                                placeholder="Senha..." class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <!--CONFIRMAR SENHA-->
                                                    <div class="form-group has-default">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="material-icons">lock_outline</i>
                                                                </span>
                                                            </div>
                                                            <input id="newpassok" name="input_pass_validate" type="password"
                                                                class="form-control" placeholder="Confirmar senha..." required>
                                                        </div>
                                                    </div>
                                                    <!--EMAIL-->
                                                    <center>
                                                        <span id="message"></span>
                                                    </center>
                                                    <div class="form-group has-default">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="material-icons">mail</i>
                                                                </span>
                                                            </div>
                                                            <input name="input_email" tabindex="-1" type="email" class="form-control disabled"
                                                                value="{{#if email}}{{email}}{{/if}}"
                                                                placeholder="{{#if email}}{{email}}{{else}}Email...{{/if}}"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <!--ESCRITÓRIO-->
                                                    <div class="form-group has-default">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="material-icons">vpn_key</i>
                                                                </span>
                                                            </div>
                                                            <input name="input_token" type="text" class="form-control"
                                                                placeholder="Token do Escritório..." required>
                                                        </div>
                                                    </div>

                                                    <div class="text-center">
                                                        <input id="btn-cadastro" name="submit_btn" type="submit"
                                                            value="Cadastrar" class="btn btn-cadastro">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/ifCond}}

                    {{#ifCond response.status "==" false}}
                        <div class="col-lg-8 col-md-10 col-sm-12 ml-auto mr-auto">
                            <div class="card">
                                <div class="card-header card-header-black text-center">
                                    <h2 class="card-title text-center">{{response.msg}}</h2>
                                </div>

                                <div class="card-body">
                                    <h2 class="card-text text-center"> Email inválido, <a id="login_link" href="/"> clique aqui</a> para
                                        retornar ao início.</h2>
                                </div>
                            </div>
                        </div>
                    {{/ifCond}}


                </div>
            </div>
            {{> escritorio/footer_outside}}
        </div>
    </div>

    <!--Correção do Violation Scroll non-passive event-->
    <script src=" ../local/plugins/fix-non-passive.js"></script>
    <!-- Core JS Files -->
    
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap-material-design.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-dashboard.min.js" type="text/javascript"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Notifications Plugin -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>

    <!--SWEET ALERT-->
    <script src="../local/plugins/sweetalert/js/sweetalert2.min.js"></script>


    <!-- AJAX JQUERY POST UPDATE update_form_pendente MODAL -->
    <script src="../local/metodos/post/form_cadastro.js"></script>

    <script>
        $(document).ready(function () {
            //md.checkFullPageBackgroundImage();
            setTimeout(function () {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 400);
        });
    </script>

    <script>
        $("#formulario_cadastro").on('submit', function (e) {
            e.preventDefault(); //prevent default action

            $("#btn-cadastro").addClass('disabled')

            var post_url = $(this).attr("action"); //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            var form_data = $(this).serialize(); //Encode form elements for submission

            $.ajax({
                async: "false",
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) { //

                $("#btn-cadastro").removeClass('disabled')

                var { msg, status, error } = response;
                var gif = "";
                var hidein = 0;
                var tempURL = window.location.origin;

                if (msg == "Cadastro confirmado com sucesso!") {
                    msg = msg + "\nEstamos te redirecionando para a página de login."
                    gif = 'success';
                    redirectURL('/acesso');
                } 
                if (msg == "O token informado é inválido!") {
                    msg = msg + "\nEntre em contato com o suporte."
                    gif = "warning";
                    hidein=2000;
                } 
                if (msg == "As senhas são diferentes!") {
                    gif = "warning";
                    hidein=2000;
                } 
                if (msg == "Você não possui pré-cadastro, solicite ao seu gestor!") {
                    msg = msg + "\nEntre em contato com o suporte."
                    gif = "warning";
                    hidein=2000;
                } 
                if (msg == "Formulário incompleto!") {
                    gif = "warning";
                    hidein=2000;
                }

                Swal.fire({
                    customClass: {
                        confirmButton: 'btn btn-black btn-login',
                    },
                    buttonsStyling: false,
                    position: 'center',
                    icon: gif,
                    title: response.msg,
                    showConfirmButton: true,
                    confirmButtonText: 'OK',
                    timer: hidein
                })
                
            });

            const redirectURL = async (url, time) => {
                setTimeout(function () {
                    window.location.href = url;
                }, time)
            }

            const reloadPage = async (time) => {
                setTimeout(function () {
                    window.location.reload();
                }, time)
            }

        });
    </script>
    <script>
        $(document).ready(function () {
            //md.checkFullPageBackgroundImage();
            setTimeout(function () {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 400);
        });
        $('#newpass, #newpassok').on('keyup', function () {
            if ($('#newpass').val() == $('#newpassok').val()) {
                $('#message').html('').css('color', 'green');
                $('#btn-cadastro').removeClass('disabled');
            } else {
                $('#message').html('Senhas não conferem').css('color', 'red');
                $('#btn-cadastro').addClass('disabled');
            }
        });
    </script>

</body>

</html>