node_modules
storage
_db/CNPJ_full.db
**src/python/
**.env.**
package-lock.json
*/Thumbs.db
*.md
!/*.md
*.log
*.rar
!/*.sqlite
!/*.xml
!/*.pdf
.file_manager.json
*.lock
teste.*
/src/backend/routes/zTestes
.env