#development.env

COOKIE_KEY=!DEV_Secret@

NODE_ENV=development
HOST=127.0.0.1
PORT=7777

MAIL_HOST=http://localhost/
MAIL_PORT=36800
MAIL_SERVICE=Gmail
MAIL_USER=
MAIL_PASS=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=5

MONGO_HOST=
MONGO_USER=
MONGO_PASSWORD=
MONGO_PORT= 
MONGO_DATABASE=

RDS_AURORA_HOST=
RDS_AURORA_PASS=
RDS_AURORA_DB=
RDS_AURORA_PORT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET_NAME=

AWS_BUCKET_GED=aws-s3-ged-dev
AWS_BUCKET_CERTIFICADOS=aws-s3-certificados-dev

API_BULL_HOST=172.26.8.16
API_BULL_PORT=2222

UPLOAD_TOKEN=