<!DOCTYPE html>
<html lang="pt-br">
<!--HEADER-->

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../images/icon/apple-icon-mezzomo.png">
	<link rel="icon" type="image/png" href="../images/icon/favicon_mezzomo3.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Robotax: Análise de Crédito</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<!-- Fonts and icons -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<link src="../local/plugins/printjs/printjs.css">
	</link>

	<!-- CSS Files -->
	<link href="../assets/css/material-dashboard.min.css" rel="stylesheet" />

	<!--SWEET ALERT-->
	<link rel="stylesheet" href="/local/plugins/sweetalert/css/sweetalert2.min.css" id="theme-styles">

	<!--local CSS -->
	<link rel="stylesheet" type="text/css" href="../local/notasfiscais.css">
	<link href="../local/plugins/select2/select2.min.css" rel="stylesheet" />
	<script src="../assets/js/core/jquery-3.5.1.js"></script>

	<!-- IMPORTAÇÕES SKALACODE -->
	<link href="../assets_relatorios/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        
	<!-- preloader css -->
	<link rel="stylesheet" href="../assets_relatorios/css/preloader.min.css" type="text/css" />
	<link href="../assets_relatorios/css/styles.css" rel="stylesheet" type="text/css" />
	
	<!-- Bootstrap Css -->
	<link href="../assets_relatorios/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
	<!-- Icons Css -->
	<link href="../assets_relatorios/css/icons.min.css" rel="stylesheet" type="text/css" />
	<!-- App Css-->
	<link href="../assets_relatorios/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
	
	<!-- Chosen -->
	<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

	<link href="../assets_relatorios/css/styles.css" rel="stylesheet" type="text/css" />
	
	<!-- DataTables -->
	<link href="../assets_relatorios/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
	<link href="../assets_relatorios/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

	<!-- Responsive datatable examples -->
	<link href="../assets_relatorios/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

	<!-- Responsive datatable examples -->
	<link href="../assets_relatorios/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
	
	<!-- Sweet Alert-->
	<link href="../assets_relatorios/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
		
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	
	<!-- treetable -->
	<link href="../assets_relatorios/libs/jquery-treetable-master/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
	<link href="../assets_relatorios/libs/jquery-treetable-master/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
	<link href="../assets_relatorios/libs/jquery-treetable-master/css/screen.css" rel="stylesheet" type="text/css" />
	
	<style>
		table.treetable {
			border: 1px solid #888;
			border-collapse: collapse;
			font-size: .75rem;
			line-height: 2;
			margin: 0.6em 0 0.8em 0;
			width: 100%;
		}
		
		table.treetable th {
			font-size: .75rem;
			line-height: 3;
			text-align: left;
		}
	</style>
	<!-- END IMPORTAÇÕES SKALACODE -->
</head>

<body class="">
	<div class="wrapper">
		<!-- SIDEBAR -->
		<div class="sidebar" data-color="yellow" data-background-color="black"
			data-image="../assets/img/contabeisbw.jpg">
			<div class="sidebar-wrapper">
				<ul class="nav">
					{{> empresa/navbar_nf}}
				</ul>
			</div>
		</div>

		<!-- Plugin for the momentJs -->
		<script src="../assets/js/plugins/moment.min.js"></script>
		<!-- Plugin for the momentJs TRADUÇÕES LOCAIS -->
		<script src="../assets/js/plugins/moment-with-locales.js"></script>

		<!-- MAIN PANEL -->
		<div class="main-panel">
			<nav class="navbar navbar-expand-lg navbar-transparent">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<div class="navbar-minimize">
							<button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
								<i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
								<i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
							</button>
						</div>
						<a class="navbar-brand" href="/notas">Notas Fiscais Empresa</a>
					</div>
					{{> empresa/menu_apps_back}} {{> empresa/help_btn}}
					<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="sr-only">Toggle navigation</span>
						<span class="navbar-toggler-icon icon-bar"></span>
						<span class="navbar-toggler-icon icon-bar"></span>
						<span class="navbar-toggler-icon icon-bar"></span>
					</button>
				</div>
			</nav>
			<!-- End Navbar -->

			<div class="content" style="margin-top: 70px;">
				<div class="container-fluid mb-3">
					<!-- IMPORTAÇÕES SKALACODE -->
					<!--HEADER-->
					<div class="row mb-5">
						<div class="col-12">
							<div class="card mb-0 bg-black text-white">
							  <div class="card-body py-4">
	
								<div class="row">
									<div class="col-md-6">
										<h1 id="title" class="text-uppercase fw-bold text-white font-size-24 mb-0 text-center text-md-start">Análise do Crédito Presumido ICMS</h1>
									</div>
									<div class="col-md-3 d-flex justify-content-center align-items-center my-3 my-md-0">
										<label for="select_empresas" class="m-0">
											<i class="fas fa-building text-white me-2"></i>
										</label>
									
										<form class="mb-0 w-100" action="" method="post">
											<select id="select_empresas" data-placeholder="Busque aqui" multiple class="form-control form-select-sm w-100">
												
											</select>
										</form>
									</div>
									<div class="col-md-3 d-flex justify-content-center align-items-center my-3 my-md-0">
										<label class="form-label m-0" for="date_inicio" title="Visualizar de:">
											<i class="fas fa-calendar-day text-white me-2"></i>
										</label>
										<input id="date_inicio" class="form-control form-select-sm d-flex align-items-center justify-content-center" type="date" title="Visualizar de:" name="date_inicio" />
	
										<label class="form-label m-0" for="date_fim" title="Visualizar até:">
											<i class="fas fa-calendar-week text-white ms-5 me-2"></i>
										</label>
										<input id="date_fim" class="form-control form-select-sm d-flex align-items-center justify-content-center" type="date" title="Visualizar até" name="date_fim" />
									</div>
								</div>
							  </div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<!-- card -->
							<div class="card">
								<!-- card header -->
								<div class="card-header card-header-yellow">
									<h4 class="card-title text-white">Análise de dados</h4>
								</div>
								
								<!-- card body -->
								<div class="card-body">
									<div class="rel-2-parent">
										<div class="rel-2-div1">
											<div class="h-100 d-flex flex-column">
												<div class="w-100 bg-black text-center text-white fw-bold text-uppercase">Total Vendido</div>
												
												<div class="flex-grow-1 d-flex justify-content-center align-items-center h-100">
													<span class="me-1">R$</span>
													<span id="rel_1_credito_total_vendido" class="font-size-24 fw-bold my-0 my-md-3">0</span>
												</div>
											</div>
										</div>
										
										<div class="rel-2-div2">
											<div class="h-100 d-flex flex-column">
												<div class="w-100 bg-black text-center text-white fw-bold text-uppercase">Relação Base Crédito Presumido por Total Vendido</div>
												
												<div class="flex-grow-1 d-flex justify-content-center align-items-center h-100">
													<span id="rel_1_credito_rel_credito" class="font-size-24 fw-bold my-0 my-md-3">0</span>
													<span class="ms-1">%</span>
												</div>
											</div>
										</div>
										
										<div class="rel-2-div3">
											<div class="h-100 d-flex flex-column">
												<div class="w-100 bg-black text-center text-white fw-bold text-uppercase">Calculo Base Crédito Presumido</div>
												
												<div class="flex-grow-1 d-flex justify-content-center align-items-center h-100">
													<span class="me-1">R$</span>
													<span id="rel_1_credito_cal_credito" class="font-size-24 fw-bold my-0 my-md-3">0</span>
												</div>
											</div>
										</div>
										
										<div class="rel-2-div4 compras flex-column d-flex justify-content-center align-items-center">
											<div class="w-100 bg-black text-center text-white fw-bold text-uppercase">Valor Crédito Presumido</div>
											
											<div class="flex-grow-1 d-flex justify-content-center align-items-center h-100">
												<span class="me-1">R$</span>
												<span id="rel_1_credito_pres" class="font-size-24 fw-bold my-0 my-md-3">0</span>
											</div>
										</div>
										
										<div class="rel-2-div5">
											<div class="table-responsive">
												<table id="table" class="table table-striped dt-responsive">
													<thead>
													<tr class="bg-black text-white d-table-row">
															<th class="fw-bold border-0">Código Produto</th>
															<th class="fw-bold border-0">NCM</th>
															<th class="fw-bold border-0">Descrição</th>
															<th class="fw-bold border-0">Valor</th>
														</tr>
													</thead>
													<tbody id="table_wrapper">
														
													</tbody>
												</table>
											</div>
										</div>
										
										<div class="rel-2-div6 compras flex-column d-flex justify-content-center align-items-center">
											<div class="w-100 bg-black text-center text-white fw-bold text-uppercase">diferença % compras e receitas</div>
											
											<div class="flex-grow-1 d-flex justify-content-center align-items-center p-2 w-100">
												<div id="rel_1_dif_compras_receitas_chart" dir="ltr" class="w-100"></div>
											</div>
										</div>
										
										<div class="rel-2-div7 compras flex-column d-flex justify-content-center align-items-center">
											<div class="w-100 bg-black text-center text-white fw-bold text-uppercase">CFOP de Compras</div>
											
											<div class="flex-grow-1 d-flex justify-content-center align-items-center p-2 w-100">
												<span class="me-1">R$</span>
												<span id="rel_1_credito_cfop_compras" class="font-size-24 fw-bold my-0 my-md-3">0</span>
											</div>
										</div>
	
										<div class="rel-2-div8 compras flex-column d-flex justify-content-center align-items-center">
											<div class="w-100 bg-black text-center text-white fw-bold text-uppercase">CFOP/CFPS de Receitas</div>
											
											<div class="flex-grow-1 d-flex justify-content-center align-items-center p-2 w-100">
												<span id="rel_1_credito_cfps_receitas" class="font-size-24 fw-bold my-0 my-md-3">0</span>
												<span class="ms-1">%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end card -->
						</div>
						<!-- end col -->
					</div>
					<!-- end row-->
					<!-- END IMPORTAÇÕES SKALACODE -->
				</div>
			</div>
			{{> empresa/footer_internal}}
		</div>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<!--Correção do Violation Scroll non-passive event-->
	<script src=" ../local/plugins/fix-non-passive.js"></script>
	<!-- Core JS Files -->

	<script src="../assets/js/core/popper.min.js"></script>
	<script src="../assets/js/core/bootstrap-material-design.js"></script>
	<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<!-- Plugin for Sweet Alert -->
	<!-- Forms Validations Plugin -->
	<script src="../assets/js/plugins/jquery.validate.min.js"></script>
	<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
	<!-- Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
	<!-- Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
	<!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs -->
	<script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
	<!-- Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar -->
	<script src="../assets/js/plugins/fullcalendar.min.js"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script src="../assets/js/plugins/jquery-jvectormap.js"></script>
	<!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="../assets/js/plugins/nouislider.min.js"></script>
	<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
	<!-- Library for adding dinamically elements -->
	<script src="../assets/js/plugins/arrive.min.js"></script>
	<!-- Chartist JS -->
	<script src="../assets/js/plugins/chartist.min.js"></script>
	<!-- Notifications Plugin -->
	<script src="../assets/js/plugins/bootstrap-notify.js"></script>
	<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="../assets/js/material-dashboard.min.js?v=2.1.2" type="text/javascript"></script>
	<!--_______________________________________________LOCAL________________________________________________-->
	<!-- DataTables.net Plugin, full documentation here: https://datatables.net/ -->
	<script src="../local/plugins/dataTables/dataTables.min.js"></script>
	<!--SORTING DATE EU-->
	<script src="https://cdn.datatables.net/plug-ins/1.10.12/sorting/date-eu.js"></script>
	<!--ROWGROUP-->
	<script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
	<!--DRAG MOUSE-->
	<script src="../local/plugins/drag/drag.js"></script>

	<!--MASK FOR FORMS
	<script src="../local/plugins/mask_input/jquery.maskedinput.js" type="text/javascript"></script>-->
	<!-- SELECTED2 CLIPBOARD -->
	<script src="../local/plugins/dataTables/selected2clipboard.js"></script>
	{{> empresa/modal_chamados}}
	<script src="../local/page_document_ready/script_notas_fiscais.js" type="text/javascript"></script>
	<!--______________________________________________LOCAL________________________________________________--->
	<!-- <script src="../local/metodos/post/import_notas_fiscais.js"></script> -->

	<!-- AJAX JQUERY POST FORM DATA MODAL -->
	<script src="../local/metodos/post/update_modal_data.js"></script>
	<script src="../local/plugins/printjs/print.min.js"></script>
	<script src="../local/plugins/mascara/abreviaNumero.js"></script>

	<script src=" ../local/plugins/select2/select2.min.js"></script>

	<!--SWEET ALERT-->
	<script src="../local/plugins/sweetalert/js/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="../local/plugins/sweetalert/css/sweetalert2.min.css" id="theme-styles">

	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>

	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>-->

	<script src="../local/plugins/autocomplete/suggest-autocomplete.js"></script>

	<script src="../local/metodos/alert/loading.js"></script>

	<script src="../local/plugins/JsBarCode/JsBarcode.code128.min.js"></script>

	<!-- IMPORTAÇÕES SKALACODE -->
	<!-- apexcharts -->
	<script src="../assets_relatorios/libs/apexcharts/apexcharts.min.js"></script>
        
	<script>
		function getData(startDate, endDate, empresas) {
			$.ajax({
				url: 'api/get_data_credito_presumido.php',
				type: 'POST',
				dataType: 'JSON',
				data: {
					startDate: startDate,
					endDate: endDate,
					empresas: empresas
				},
				success: function(data) {
					// console.log(data);
					//Valores
					$('#rel_1_credito_total_vendido').text(data.data.rel_1_credito_total_vendido);
					$('#rel_1_credito_rel_credito').text(data.data.rel_1_credito_rel_credito);
					$('#rel_1_credito_cal_credito').text(data.data.rel_1_credito_cal_credito);
					$('#rel_1_credito_pres').text(data.data.rel_1_credito_pres);
					$('#rel_1_credito_cfop_compras').text(data.data.rel_1_credito_cfop_compras);
					$('#rel_1_credito_cfps_receitas').text(data.data.rel_1_credito_cfps_receitas);
			
					$('#table_wrapper').empty();

					// destruir a tabela anterior, se existir
					if ($('#table').treetable('destroy')) {
						// console.log('Tabela destruída');
					}
					
					/* CUSTO DAS MERCADORIAS PAG. 1 */
					let count = 1;
					$.each(data.table, function(key, val) {
						console.log(val);
						
						let codigo_produto = val.codigo_produto;
						let ncm = val.ncm;
						let descricao_produto = val.descricao_produto;
						let valor_produto = val.valor_produto;

						$('#table_wrapper').append(`<tr data-tt-id="${count}">
														<td>${codigo_produto}</td>
														<td>${ncm}</td>
														<td>${descricao_produto}</td>
														<td>${valor_produto}</td>
													</tr>`);
						count++;
					});
					
					// chamar o plugin novamente
					$('#table').treetable({
						expandable: true,
						searchable: true,
						searchField: 'empresa',
						pagination: true,
						perPage: 10,
						onNodeExpand: function() {
							// console.log('Node expanded');
						},
						onNodeCollapse: function() {
							// console.log('Node collapsed');
						}
					});
					
					/* CHART */
					rel_1_dif_compras_receitas_chart.updateSeries(data.chart);

					/* TOTAL */
					$('#total_vendas').text(data.total.total_vendas.toLocaleString('pt-BR', 2));
					$('#vendas_porce').text(data.total.vendas_porce.toFixed(2).replace('.', ','));
					$('#custo_total').text(data.total.custo_total.toLocaleString('pt-BR', 2));
					$('#custo_porce').text(data.total.custo_porce.toFixed(2).replace('.', ','));
					$('#lucro_liquido').text(data.total.lucro_liquido.toLocaleString('pt-BR', 2));
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.error('Erro na requisição AJAX: ' + textStatus + ' - ' + errorThrown);
				}
			});
		}
		
		$(document).ready(function() {
			var startDate = '';
			var endDate = '';
			var empresas = [];
			
			// obter referência ao elemento select_empresas]
			const selectEmpresas = document.getElementById('select_empresas');
			
			// fazer requisição AJAX para a URL
			const xhr = new XMLHttpRequest();
			xhr.open('GET', 'https://codeskala.com.br/robotax/api_empresas.php');
			xhr.onload = function() {
				// atribuir HTML da resposta ao elemento select_empresas
				selectEmpresas.innerHTML = xhr.responseText;
			};
			xhr.send();
			
			// Puxa as informações do Banco de Dados
			getData(startDate, endDate, empresas);
			
			$('#select_empresas').on('change', function() {
				let empresas = $(this).val();
				let startDate = $('#date_inicio').val();
				let endDate = $('#date_fim').val();
				
				getData(startDate, endDate, empresas);
			});
		});
	
		// Diferença % Compras e Receitas
		//#rel_1_dif_compras_receitas_chart
		var rel_1_dif_compras_receitas_anterior = [44];
		var rel_1_dif_compras_receitas_atual = [35]
	
		// Diferença % Compras e Receitas
		var options = {
			  series: [{
			  name: 'Mês Anterior',
			  data: rel_1_dif_compras_receitas_anterior
			}, {
			  name: 'Mês Atual',
			  data: rel_1_dif_compras_receitas_atual
			}],
			  chart: {
			  type: 'bar',
			  height: 350
			},
			colors: ['#EDCD00', '#000000'],
			plotOptions: {
			  bar: {
				horizontal: false,
				columnWidth: '55%',
				endingShape: 'rounded'
			  },
			},
			dataLabels: {
			  enabled: false
			},
			stroke: {
			  show: true,
			  width: 2,
			  colors: ['transparent']
			},
			xaxis: {
			  categories: ['Passado', 'Atual'],
			},
			yaxis: {
			  title: {
				text: '%'
			  }
			},
			fill: {
			  opacity: 1
			}
			};
	
			var rel_1_dif_compras_receitas_chart = new ApexCharts(document.querySelector("#rel_1_dif_compras_receitas_chart"), options);
			rel_1_dif_compras_receitas_chart.render();
	
	</script>
	
	<!-- VENDOR-SCRIPTS -->
	<script src="../assets_relatorios/libs/jquery/jquery.min.js"></script>

	<!-- Chosen -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>

	<script>
		$(".chosen-select").chosen({
			no_results_text: "Não houveram resultados, tente novamente"
		})
	</script>

	<script src="../assets_relatorios/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../assets_relatorios/libs/metismenu/metisMenu.min.js"></script>
	<script src="../assets_relatorios/libs/simplebar/simplebar.min.js"></script>
	<script src="../assets_relatorios/libs/node-waves/waves.min.js"></script>
	<script src="../assets_relatorios/libs/feather-icons/feather.min.js"></script>
	<!-- pace js -->
	<script src="../assets_relatorios/libs/pace-js/pace.min.js"></script>

	<script src="../assets_relatorios/js/app.js"></script>
	<!-- END VENDOR-SCRIPTS -->
	
	<!-- Plugins js-->
	<script src="../assets_relatorios/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="../assets_relatorios/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
	
	<!-- Required datatable js -->
	<script src="../assets_relatorios/libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../assets_relatorios/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
	
	<!-- Buttons examples -->
	<script src="../assets_relatorios/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../assets_relatorios/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
	<script src="../assets_relatorios/libs/jszip/jszip.min.js"></script>
	<script src="../assets_relatorios/libs/pdfmake/build/pdfmake.min.js"></script>
	<script src="../assets_relatorios/libs/pdfmake/build/vfs_fonts.js"></script>
	<script src="../assets_relatorios/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../assets_relatorios/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../assets_relatorios/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
	
	<!-- Responsive examples -->
	<script src="../assets_relatorios/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../assets_relatorios/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
	
	<!-- Sweet Alerts js -->
	<script src="../assets_relatorios/libs/sweetalert2/sweetalert2.min.js"></script>
	
	<!-- treetable -->
	<script src="../assets_relatorios/libs/jquery-treetable-master/jquery.treetable.js"></script>
	<!-- END IMPORTAÇÕES SKALACODE -->
</body>
</html>