<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Olá, {{obj.nomecompleto}} </h1>


    <h1>email: {{obj.email}}</h1>

    {{#ifCond obj.adm '==' 'false'}}
    
    <h2>Somente administrador deve ver isso</h2>
    
    {{/ifCond}}


    {{#if obj.adm}}<h1>ok</h1> {{/if}}


{{> escritorio/notaderodape }}

</body>

</html>
