<footer style="margin-top: 4%; margin-bottom: 0px;" class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="/quemSomo#contato">
                      Contato
                    </a>
                </li>
                <!--
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
              -->
            </ul>
        </nav>
        <div class="copyright float-right">
          <span id="anoFooter"></span>
            &copy;
            <script>
                //document.write(new Date().getFullYear())
                document.getElementById('anoFooter').innerHTML = new Date().getFullYear()
            </script> - by
            <a href="/quemSomos" target="_blank">lab41</a>
        </div>
    </div>
</footer>