<!----------------------------------------------1------------------------------------------------->
<div class="modal fade" id="modalPlanos1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><b>Planos Gratuito</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--CARD-->
                <h6><b>Detalhes</b></h6>
                <h6 class="text-left"><b>Ferramenta para calculo de ICMS Antecipados do estado do Pará</b></h6>
                <ul class="text-left" style="font-size: .75rem; font-weight: 500; padding: 0 0 0 35px;">
                    <li>Envio manual pela página</li>
                    <li>Limite de <b>7</b> dias</li>
                    <li>Número de Clientes cadastrados ilimitado</li>
                    <li>Número de Usuários cadastrados ilimitado</li>
                    <li>Cálculo dos impostos Antecipados, ICMS e PISCOFINS automático via Inteligência Artificial
                    </li>
                </ul>
                <!--CARD_X-->
            </div>
            <div class="modal-footer">
                <div class="container">
                    <h5><b>Valor:</b></h5>
                    <h6 class="text-right"><b>Gratuito</b></h6>
                </div>
            </div>
        </div>
    </div>
</div>


<!----------------------------------------------2------------------------------------------------->

<div class="modal fade" id="modalPlanos2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><b>Plano Gold</b></h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--CARD-->
                <h6><b>Detalhes</b></h6>
                <h6 class="text-left"><b>Ferramenta para calculo de ICMS Antecipados do estado do Pará</b></h6>
                <ul class="text-left" style="font-size: .75rem; font-weight: 500; padding: 0 0 0 35px;">
                    <li>Busca automática de NFEs diretamente da base de dados da SEFAZ</li>
                    <li>Número de Clientes cadastrados ilimitado</li>
                    <li>Número de Usuários cadastrados ilimitado</li>
                    <li>Cálculo dos impostos Antecipados, ICMS e PISCOFINS automático via Inteligência Artificial
                    </li>
                </ul>
                <!--CARD_X-->
            </div>
            <div class="modal-footer">
                <div class="container">
                    <h5><b>Valor:</b></h5>
                    <h6 class="text-right">Até <b>500</b> notas processadas mensais por <b>250,00</b> <br>Até
                        <b>1500</b> notas processadas
                        mensais por <b>500,00</b> <br>Acima de <b>1500</b> notas processadas mensais por <b>600,00</b>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------------------------------------------3------------------------------------------------->

<div class="modal fade" id="modalPlanos3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><b>Plano Platinum</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--CARD-->
                <h6><b>Detalhes</b></h6>
                <h6 class="text-left"><b>Ferramenta para calculo de ICMS Antecipados do estado do Pará</b></h6>
                <ul class="text-left" style="font-size: .75rem; font-weight: 500; padding: 0 0 0 35px;">
                    <li>Busca automática de NFEs diretamente da base de dados da SEFAZ</li>
                    <li>Número de Clientes cadastrados ilimitado</li>
                    <li>Número de Usuários cadastrados ilimitado</li>
                    <li>Cálculo dos impostos Antecipados, ICMS e PISCOFINS automatico via Inteligência Artificial
                    </li>
                </ul>
                <h6 class="text-left"><b>Ferramenta Robô Fiscal</b></h6>
                <ul class="text-left" style="font-size: .75rem; font-weight: 500; padding: 0 0 0 35px;">
                    <li>Insere as tributações calculadas de forma automática em seu ERP Contábil</li>
                    <li>Atualização de base de dados de clientes em suas ERP's empresariais</li>
                </ul>
                <!--CARD_X-->
            </div>
            <div class="modal-footer">
                <div class="container">
                    <h5><b>Valor:</b></h5>
                    <h6 class="text-right">Até <b>500</b> notas processadas mensais por <b>500,00</b> <br>Até <b>1500</b>
                        notas processadas
                        mensais por <b>600,00</b> <br>Acima de <b>1500</b> notas processadas mensais por <b>650,00</b>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------4------------------------------------------------->

<div class="modal fade" id="modalPlanos4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><b>Plano Black</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--CARD-->
                <h6><b>Detalhes</b></h6>
                <h6 class="text-left"><b>Ferramenta para calculo de ICMS Antecipados do estado do Pará</b></h6>
                <ul class="text-left" style="font-size: .75rem; font-weight: 500; padding: 0 0 0 35px;">
                    <li>Busca automática de NFEs diretamente da base de dados da SEFAZ</li>
                    <li>Número de Clientes cadastrados ilimitado</li>
                    <li>Número de Usuários cadastrados ilimitado</li>
                    <li>Cálculo dos impostos Antecipados, ICMS e PISCOFINS automático via Inteligência Artificial
                    </li>
                </ul>

                <h6 class="text-left"><b>Ferramenta Robô Fiscal</b></h6>
                <ul class="text-left" style="font-size: .75rem; font-weight: 500; padding: 0 0 0 35px;">
                    <li>Insere as tributações calculadas de forma automática em seu ERP Contábil</li>
                    <li>Atualização de base de dados de clientes em suas ERP's empresariais</li>
                </ul>

                <h6 class="text-left"><b>Ferramenta Robô Contábil</b></h6>
                <ul class="text-left" style="font-size: .75rem; font-weight: 500; padding: 0 0 0 35px;">
                    <li>Insere os lançamentos de forma automática em seu ERP Contábil</li>
                </ul>

                <h6 class="text-left"><b>Ferramenta GED</b></h6>
                <ul class="text-left" style="font-size: .75rem; font-weight: 500; padding: 0 0 0 35px;">
                    <li>Gerencia e organiza seus documentos</li>
                    <li>Cataloga os dados de forma automática através de visão computacional</li>
                    <li>Controla quais documentos ja foram enviados pelos seus Clientes</li>
                </ul>
                <!--CARD_X-->
            </div>
            <div class="modal-footer">
                <div class="container">
                    <h5><b>Valor:</b></h5>
                    <h6 class="text-right">Até <b>500</b> notas processadas mensais por <b>900,00</b> <br>Até
                        <b>1500</b>
                        notas processadas
                        mensais por <b>950,00</b> <br>Acima de <b>1500</b> notas processadas mensais por
                        <b>1000,00</b>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>