<li>
    <br>
    <div class="card-profile">
        <!--<div class="card-avatar">
            <img class="img" src="../images/logoMezzomo2_white.png" />
        </div> -->
        <img class="img nav-img" src="../images/logo-black-fixed-yellow.svg" />
        <h3 class="title-nav">Documentos</h3>
        <br>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="/ged">
        <i class="material-icons">description</i>
        <p>Documentos</p>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/ged/explorar">
        <i class="material-icons">work</i>
        <p>Explorar Arquivos</p>
    </a>
</li>

<li class="nav-item ">
    <a class="nav-link" href="/ged/AdminGED">
        <i class="material-icons">manage_accounts</i>
        <p>Controle</p>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/enviar-documentos">
        <i class="material-icons">cloud_upload</i>
        <p>Enviar Documentos</p>
    </a>
</li>


<!--
<li class="nav-item ">
    <a class="nav-link" href="../sair">
        <i class="material-icons">exit_to_app</i>
        <p>Sair</p>
    </a>
</li>
-->