<li>
    <br>
    <div class="card-profile">
        <!--<div class="card-avatar">
            <img class="img" src="../images/logoMezzomo2_white.png" />
        </div> -->
        <img class="img nav-img" src="../images/logo-black-fixed-yellow.svg" />
        <h3 class="title-nav">Antecipados</h3>
        <br>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="/suporte/escritorios">
        <i class="material-icons">business</i>
        <p>Escritórios</p>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/suporte/suporte-chamados">
        <i class="material-icons">playlist_add_check</i>
        <p>Chamados Suporte</p>
    </a>
</li>
