<div class="sidebar-wrapper">
  <ul class="nav">
    <!--CARD NO SIDE BAR - LOGO DO USÚARIO E NOME -->
    <li>
      <br>
      <div class="card card-profile">
        <div class="card-avatar">
          <img class="img" src="../images/logoMezzomo2_white.png" />
        </div>
        <a href="https://mezzomo.cnt.br/">
          <h3 class="card-title">Mezzomo</h3>
          <br>
        </a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/antecipados/notas">
        <i class="material-icons">description</i>
        <p>Notas</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/antecipados/graficos">
        <i class="material-icons">dashboard</i>
        <p>Power Bi</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/gerenciar/aprovar-notas">
        <i class="material-icons">playlist_add_check</i>
        <p>Aprovar Notas</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/gerenciar/alterar-regras">
        <i class="material-icons">build</i>
        <p>Alterar Regras</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/notas/enviar-notas">
        <i class="material-icons">cloud_upload</i>
        <p>Enviar Notas</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="../sair">
        <i class="material-icons">exit_to_app</i>
        <p>Sair</p>
      </a>
    </li>
  </ul>
</div>